<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css">

<div class="wrapper">
  <div class="payment">
    <h2>BIENVENIDO</h2>
    <div class="form">
      <div class="alineame space icon-relative">
        <label class="label"></label>
       
      </div>
      <div class="alineame space icon-relative">
        <label class="label">POR FAVOR LOGEATE.</label>
        
      </div>
      	<div class="btnn space icon-relative">
			<button class="btnnn" type="button" (click)="Login()">LOGIN</button>	
		</div>
     
      <div class="alineame space icon-relative">
        <label class="label" style="font-size: 10px">*solicita tu acceso contactando con perifericos@fackcheckuy.com</label>
       
      </div>
      <div class="space icon-relative">
      <a href="">Volver a Factcheckuy</a> </div>
    </div>
  </div>
</div>